body{
    background-color:  rgb(255, 255, 255);

}

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');



h2, h3, h4, h5, h6{
    display: flex;
    justify-content: center;
    padding: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.navbar-brand{
    font-style: normal;
    font-weight: 900;
    color: #d1703b;
    text-shadow: black -5px 4px 8px;
    
}

.navbar-brand:hover{
    color:#8D548C;
}


h3{
    color:rgb(63, 31, 31);
}

p{
    padding: 3%;
}

/*NAV*/

nav{
    background-color: #459D9D;
    color: rgb(255, 255, 255);
}

nav h1{

}

nav a{
    color: rgb(255, 255, 255);
    text-shadow: black -5px 4px 8px;
}

.navbar-nav{
    text-align: left;
    width: 100%;
}

.navbar-nav a{
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: 400;

}
.navbar-nav a:hover{
    color: #bba1ba;
    font-weight: 700;
}

.navbar-toggler{
    color: rgb(3, 3, 3);
    
    
}

.navbar-toggler-icon{
    background-image: url(./bars-solid.svg);
}


/*Carousel*/

.carousel{
    margin-top: 5%;
    margin-bottom: 4%;
}

.carousel img{
    height: 80vh;
}

.carousel-inner{
    height: 70vh;
}

.nosotros{
    background-color: #346373;
}

.pagina p{
    color:rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1%; 
    text-shadow: rgb(15, 11, 11) 1px 2px 1px 1px ;
    backdrop-filter: blur (10px);
    
}





section h5{
    display: flex;
    justify-content: left;
}


.distancias{
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding-top: 2%;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
   
/*FOOTER*/

footer{
    background-color: #459D9D;
    margin-top: 3%;
}

footer .informacion{
    display: flex;
    justify-content: space-around;
    text-transform: lowercase;
    
}

footer .contacto h2{
    color: white;
    font-size: 20px;
}

footer .informacion a{
    
    font-size: 17px;
    margin-top: 2.2%;
    padding: 3%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer .informacion a:hover{
    color: #7FD7B2;
}




/*MARGEN DE PAGINAS*/

.transportepublico, .gastronomia, .atractivo{
    margin-top: 5%;
}

/*CARDS*/

.cardcontain{
    display: flex;
    justify-content: space-around;
}

.card{
    margin-bottom: 5vh;
    box-shadow: black 2px 2px 15px ;
    background-color: #397F8B;
    color: white;

}

.card img{
    width: 100%;
    height: 35vh;
}

.card-body p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;

}

.card-body a{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.card-body a:hover{
    color: rgb(81, 42, 104);
    font-weight: 700;   
}

.btn-{
    background-color: #263f3b;
    
}


@media (min-width: 320px) and (max-width: 575px) {

    h1{
        margin-bottom: 25%;
    }

    .navbar-nav{
        margin-top: 25%;
    }

    /*carousel*/

    .carousel{
        margin-top: 18%;
        margin-bottom: 4%;
    }

    .carousel-inner{
        height: 30vh;
    }

    .carousel img{
        height: 30vh;
    }

    /*cards*/

    .cardcontain{
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        }
    
    
    .card{
        margin-bottom: 5vh;
        box-shadow: black 2px 2px 15px ;
        background-color: #397F8B;
        color: white;
    }

    .card-body{
        width: 100%;
    }
    
    .card img{
        width: 100%;
        height: 35vh;
    }
    
    .card-body p{
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
    }


    /*FOOTER*/

    footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: #459D9D;
        margin-top: 3%;
        width: 100%;
    }

    footer .informacion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-transform: lowercase;
        
    }

    footer .contacto h2{
        color: white;
        font-size: 20px;
    }

    footer .informacion a{
        
        font-size: 17px;
        margin-top: 2.2%;
        padding: 3%;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    footer .informacion a:hover{
        color: #7FD7B2;
    }

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px)  {

}

@media (min-width: 992px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 2100px) {

}